
/* 
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background: white;  
  color: black;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  background-color: whitesmoke;
    width: 700px;   
}

.btn-close {
  opacity: .000001;   
}

#first {
    background-color: rgb(205, 206, 229);   
  }

 h5{
  text-align: center;
 }